/* Login button */
.btn-login-link{
    border: solid #2A7AE4 1px;
    background-color: transparent;
    color: #2A7AE4;
    cursor: pointer;
    margin-left: auto;
    padding: 0.7rem 3.5rem;
    text-align: center;
    font-weight: 500;
    transition: all 0.5s;
}
.btn-login-link:hover{
    color: #fff;
	background: #2a7ae4;
}