/* Star Wars */
.star-wars-products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1920px;
    width: 80%;
}
.star-wars-products-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-basis: 100%;
}
.star-wars-title{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 4rem;
}
.star-wars-link{
    color: #2A7AE4;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: 1s all;
}

/* Consoles */
.consoles-products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1920px;
    width: 80%;
}
.consoles-products-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-basis: 100%;
}
.consoles-title{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 4rem;
}
.consoles-link{
    color: #2A7AE4;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: 1s all;
}

/* Diverse */
.diverse-products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1920px;
    width: 80%;
}
.diverse-products-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-basis: 100%;
}
.diverse-title{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 4rem;
}
.diverse-link{
    color: #2A7AE4;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: 1s all;
}