@media only screen and (max-width: 1024px) {
    .header{
      display: flex;
      align-items: center;
      width: 300px;
    }
    .header-logo{
      order: 1;
    }
    .header-logo-img{
      width: 100px;
    }
    .search{
      margin-left: 10px;
      background: transparent;
      border: none;
      order: 3;
    }
    .search-input{
      display: none;
    }
    .bi-search{
      background: transparent;
      zoom: 1.5;
    }
    .btn-login-link{
      padding: 0.7rem 3rem;
      width: 38px;
      height: 16px;
      order: 2;
    }
    .banner {
      width: 355px;
      height: 192px;
      line-height: 10px;
    }
    .title-1{
      font-size: 22px;
      margin: inherit;
      padding-left: 5%;
      line-height: 1px;
    }
    .title-2{
      font-size: 14px;
      margin: inherit;
      padding-left: 5%;
    }
    .btn-banner{
      font-size: 14px;
      margin-left: 5%;
      margin-top: 0.5%;
    }
    .star-wars-products{
    display: flex;
    width: 330px;
        
    }
    .consoles-products{
    display: flex;
    width: 330px;
    }
    .diverse-products{
    display: flex;
    width: 330px;
    }
    .cards-img {
      width: 156px;
      height: 174px;
    }
    .info{
    display: flex;
    flex-direction: column;
    }.info-logo{
      margin-left: 90px;
    }
    .logo-about{
    display: flex;
    flex-direction: column;
    }
    .about{
    margin-left: 90px;
    }
    .info-logo-img{
      margin: auto;
    }
    .contact-form-name{
        width: 316px;
    }
    .contact-form-message{
        width: 316px;
    }
    .footer-text{
      font-size: 16px;
      margin-top: 1%;
    }
  }
  